:root {
  --primary-color: #006B31;
  --secondary-color: #FFD700;
  --text-color: #333333;
  --light-gray: #f8f9fa;
  --border-color: #e9ecef;
  --background-color: #008000;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  zoom: 1.2;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: #ffffff;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.btn-primary:hover {
  background-color: #005a27 !important;
  border: 1px solid #005a27;
}

.btn-primary:active {
  background-color: #004c22 !important;
  border: 1px solid #004c22;
}

.btn-outline-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-outline-primary:active {
  color: #ffffff;
  background-color: #004c22 !important;
  border: 1px solid #004c22;
}

.color-white {
  color: #ffffff !important;
}
